src/ccnwebservice/webscr/ccnWebservice.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="CCNLEGACY"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
		xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
		xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
		xmlns:tns="http://www.ekanjo.com/"
		xmlns:s="http://www.w3.org/2001/XMLSchema"
		xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
		targetNamespace="http://www.ekanjo.com/"
		xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<s:schema elementFormDefault="qualified" targetNamespace="http://www.ekanjo.com/">
	<s:element name="RequestCCNTransaction">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="TRANSACTIONID" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="TRANSACTIONCODE" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="SERVICECODE" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="USERACCOUNT" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="AGENTCODE" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="CUSTOMEREMAIL" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="CUSTOMERPHONE" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="AMOUNT" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="DATELOGGED" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="SWCVERSION" type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="RequestCCNTransactionResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="REQUESTSTATUS" type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="TRANSACTIONID" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="CCNTRANSID" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="CCNRESPONSE" type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="RequestCheckStatus">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="AGENTCODE" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="TRANSACTIONID" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="CCNTRANSID" type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="RequestCheckStatusResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="REQUESTSTATUS" type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="ebppp_trans_id" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="ebppp_response" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="invoice_number" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="ccn_response" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="ccn_status" type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="RequestSubscribeContact">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="AGENTCODE" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="SERVICE" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="ACCOUNT" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="PHONE" type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="RequestSubscribeContactResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="REQUESTSTATUS" type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="CCNRESPONSE" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="SUBSCRIPTIONID" type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="RequestRegisterConstructionPermit">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="AGENTCODE" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="AGENTPASSWORD" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="AGENTTRANSID" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="CUSTOMEROPTION" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="CUSTOMERID" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="CPERMITID" type="s:string"/>
				<s:element minOccurs="0" maxOccurs="1" name="SWCVERSION" type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="RequestRegisterConstructionPermitResponse" >
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="REQUESTSTATUS" type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="CCNRESPONSE" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="CPERMITID" type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>


		<s:element name="RequestUnSubscribeContact">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="AGENTCODE" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="PHONE" type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="RequestUnSubscribeContactResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="REQUESTSTATUS" type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="CCNRESPONSE" type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="RequestValidateItem">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="AGENTCODE" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="ITEMTYPE" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="ITEMID" type="s:string" />
                                <s:element minOccurs="0" maxOccurs="1" name="MARKETTYPE" type="s:string" />
                                <s:element minOccurs="0" maxOccurs="1" name="INSPECTOR" type="s:string" />
                                <s:element minOccurs="0" maxOccurs="1" name="CUSTOMERACCOUNT" type="s:string" />
                                <s:element minOccurs="0" maxOccurs="1" name="SWCVERSION" type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="RequestValidateItemResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="REQUESTSTATUS" type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="RESPONSECODE" type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="CCNRESPONSE" type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
        <s:element name="RequestParkingCompliance">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="AGENTCODE" type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="COMPLIANCETYPE" type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="CARTYPE" type="s:string" />
                                <s:element minOccurs="1" maxOccurs="1" name="STREET" type="s:string" />
                                <s:element minOccurs="1" maxOccurs="1" name="NUMBERPLATE" type="s:string" />
                                <s:element minOccurs="1" maxOccurs="1" name="INSPECTOR" type="s:string" />
                                <s:element minOccurs="1" maxOccurs="1" name="LOCK" type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="RequestParkingComplianceResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="REQUESTSTATUS" type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="RESPONSECODE" type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="CCNRESPONSE" type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
        <s:element name="SapLoginUserResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="request_status" 	type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ccn_response" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="staff_id"          type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="staff_info" 	type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SapLoginUserRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="AgentPassword" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="StaffUsername" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="StaffPassword" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SapInspectorDetails">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="AgentCode" 	type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="AgentPassword" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="InspectorId"          type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="UserlevelId" 	type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SapInspectorDetailsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="request_status" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="Streets" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="TotalQueries" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="Markets" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="Regions" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ClampList" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="TowList" type="s:string" />
                    </s:sequence>
                </s:complexType>
           </s:element>
</s:schema>
</types>

<message name="RequestCCNSoapIn">
	<part name="parameters" element="tns:RequestCCNTransaction" />
</message>
<message name="RequestCCNSoapOut">
	<part name="parameters" element="tns:RequestCCNTransactionResponse" />
</message>
<message name="RequestCheckStatusSoapIn">
	<part name="parameters" element="tns:RequestCheckStatus" />
</message>
<message name="RequestCheckStatusSoapOut">
	<part name="parameters" element="tns:RequestCheckStatusResponse" />
</message>
<message name="subscribeContactSoapIn">
	<part name="parameters" element="tns:RequestSubscribeContact" />
</message>
<message name="subscribeContactSoapOut">
	<part name="parameters" element="tns:RequestSubscribeContactResponse" />
</message>
<message name="UnSubscribeContactSoapIn">
	<part name="parameters" element="tns:RequestUnSubscribeContact" />
</message>
<message name="UnSubscribeContactSoapOut">
	<part name="parameters" element="tns:RequestUnSubscribeContactResponse" />
</message>
<message name="registerConstructionPermitSoapIn">
<part name="parameters" element="tns:RequestRegisterConstructionPermit"/>
</message>
<message name="registerConstructionPermitSoapOut">
<part name="parameters" element="tns:RequestRegisterConstructionPermitResponse" />
</message>
<message name="validateItemSoapIn">
<part name="parameters" element="tns:RequestValidateItem"/>
</message>
<message name="validateItemSoapOut">
<part name="parameters" element="tns:RequestValidateItemResponse" />
</message>
<message name="parkingComplianceSoapIn">
<part name="parameters" element="tns:RequestParkingCompliance"/>
</message>
<message name="parkingComplianceSoapOut">
<part name="parameters" element="tns:RequestParkingComplianceResponse" />
</message>
<message name="RequestLoginUserSoapIn">
    <part name="parameters" element="tns:SapLoginUserRequest" />
    </message>
<message name="RequestLoginUserSoapOut">
    <part name="parameters" element="tns:SapLoginUserResponse" />
</message>

<message name="RequestInspectorDetailsSoapIn">
    <part name="parameters" element="tns:SapInspectorDetails" />
</message>
<message name="RequestInspectorDetailsSoapOut">
    <part name="parameters" element="tns:SapInspectorDetailsResponse" />
</message>


<portType name="CCNWebServiceSoap">
	<operation name="RequestCCN">
		<input message="tns:RequestCCNSoapIn" />
		<output message="tns:RequestCCNSoapOut" />
	</operation>
	<operation name="checkStatus">
		<input message="tns:RequestCheckStatusSoapIn" />
		<output message="tns:RequestCheckStatusSoapOut" />
	</operation>
	<operation name="subscribeContact">
		<input message="tns:subscribeContactSoapIn" />
		<output message="tns:subscribeContactSoapOut" />
	</operation>
	<operation name="UnSubscribeContact">
		<input message="tns:UnSubscribeContactSoapIn" />
		<output message="tns:UnSubscribeContactSoapOut" />
			</operation>
		<operation name="registerConstructionPermit">
		<input message="tns:registerConstructionPermitSoapIn" />
		<output message="tns:registerConstructionPermitSoapOut" />
	</operation>
	<operation name="validateItem">
		<input message="tns:validateItemSoapIn" />
		<output message="tns:validateItemSoapOut" />
	</operation>
        <operation name="parkingCompliance">
		<input message="tns:parkingComplianceSoapIn" />
		<output message="tns:parkingComplianceSoapOut" />
	</operation>
        <operation name="loginUser">
            <input message="tns:RequestLoginUserSoapIn" />
            <output message="tns:RequestLoginUserSoapOut" />
        </operation>
        <operation name="getInspectorDetails">
            <input message="tns:RequestInspectorDetailsSoapIn" />
            <output message="tns:RequestInspectorDetailsSoapOut" />
        </operation>
</portType>


<binding name="CCNWebServiceSoap" type="tns:CCNWebServiceSoap">
	<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="RequestCCN">
			<soap:operation soapAction="RequestCCN" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>


		<operation name="subscribeContact">
			<soap:operation soapAction="subscribeContact" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<operation name="UnSubscribeContact">
			<soap:operation soapAction="UnSubscribeContact" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

		<operation name="checkStatus">
			<soap:operation soapAction="checkStatus" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
               <operation name="registerConstructionPermit">
              <soap:operation soapAction="registerConstructionPermit" style="document"/>
		       <input>
 				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
	 		</output>
		</operation>
		<operation name="validateItem">
			<soap:operation soapAction="validateItem" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

                <operation name="parkingCompliance">
			<soap:operation soapAction="parkingCompliance" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
                <operation name="loginUser">
                    <soap:operation soapAction="loginUser" style="document" />
                    <input>
                        <soap:body use="literal" />
                    </input>
                    <output>
                        <soap:body use="literal" />
                    </output>
                </operation>
                <operation name="getInspectorDetails">
                    <soap:operation soapAction="getInspectorDetails" style="document" />
                    <input>
                        <soap:body use="literal" />
                    </input>
                    <output>
                        <soap:body use="literal" />
                    </output>
                </operation>
</binding>
<service name="CCNWebService">
	<port name="CCNWebServiceSoap" binding="tns:CCNWebServiceSoap">
		<soap:address location="http://192.168.100.13/bibi/webscr/soap.php" />
	</port>
</service>
</definitions>
